.board {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  &__cards--container {
    justify-content: center;
    display: grid;
    gap: 30px;
    grid-template-columns: 125px 125px 125px 125px;
    margin: auto;

    >article {
      justify-self: center;
    }
  }

  @media (max-width: 1000px) {
    &__cards--container {
      grid-template-columns: 125px 125px 125px;
    }
  }

  @media (max-width: 750px) {
    padding: 30px;

    &__cards--container {
      gap: 20px;
      grid-template-columns: 80px 80px 80px;
    }
  }
}
